body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: small;
}

.header {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.logos {
  display: flex;
  gap: 16px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.map {
  height: 450px;
  width: 100%;
  border: 1px solid darkgray;
}
